<ion-tabs tab="tab-four" >
  <ion-tab-bar slot="button" color ="primary">
    <ion-tab-button tab="singers">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Cantantes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="songs">
      <ion-icon name="apps-sharp"></ion-icon>
      <ion-label>Canciones</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="eventos">
      <ion-icon name="extension-puzzle-sharp"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pacientes-exitosos">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Pacientes exitosos</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
